body{
    display: grid;
    grid-template-areas: 'header header header header'
                         'navigation content content content'
                         'navigation content content content'
                         'navigation content content content'
                         'footer footer footer footer';
}
#header{
grid-area: header;
font-size: 22   px;
padding-top: 16px;
position: static;
background-color: rgb(108, 166, 216);
}
#header h1{
    display: inline-flex;
    padding-top: px;
    margin-left: 350px;
    background-color: bisque;
}
#header img{
    float: left;
    height: 100px; 
    margin-left: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    
}
#navigation{
grid-area: navigation;
font-size: 28px;    
background-color: rgb(225, 190, 108);
}
#navigation a{
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right: 20px;
    margin-left: 110px;
    text-decoration: none;
    color: black;
    background-color: peru;
    display: inline-block;
}
#content{
grid-area: content;
background-color: rgb(229, 124, 220);
padding-bottom: 20px;
padding-left: 263px;
padding-right: 264px;
padding-top: 20px;
}
#content h1{
    display:inline-block;
    background-color: blanchedalmond;
    margin-left: 100px;
}

  
    

#footer{
    grid-area: footer;
background-color: rgb(188, 205, 75);

}
#footer a{
    font-size: 44px;
    margin-left: 140px;
    text-decoration: none;
    color: brown;
}

#email,
#password {
  display: block;
  width: 100%;
  padding: 10px 35px 10px 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#email:focus,
#password:focus {
  outline: none;
  border-color: #f5576c;
  box-shadow: 0 0 0 2px rgba(245, 87, 108, 0.25);
}

.submit {
  display: block;
  width: 100%;
  margin-left: 25px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background-color: #f5576c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit:hover {
  background-color: #e0455b;
  transform: translateY(-2px);
}

input.error {
  border-color: red;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}